
@tailwind base;
@tailwind components;
@tailwind utilities;

@import './themes/light.css';
@import './themes/dark.css';

@layer base {
  * {
    @apply border-border;
  }
  
  body {
    font-family: 'Vazirmatn', sans-serif;
    direction: rtl;
    @apply bg-background text-foreground;
  }

  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-arminred-500 to-arminred-700;
  }

  .section-title {
    @apply text-2xl font-bold relative pr-3 before:content-[''] before:absolute before:top-0 before:right-0 before:h-full before:w-1 before:bg-arminred-600;
  }
}

/* Font for Farsi numbers */
.farsi-numbers {
  font-feature-settings: "ss01";
}
